@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background: #69dfcd;
	color: #fff;
}

html,
div {
	font-family: 'SUIT', system-ui, sans-serif;
}

html {
	@apply bg-white dark:bg-zinc-900 text-zinc-800 dark:text-zinc-200;
}

div {
	@apply text-zinc-800 dark:text-zinc-200;
}

h1,
h2,
h3,
h4,
p,
a,
strong,
code {
	@apply text-zinc-800 dark:text-zinc-100;
}

h1,
h2,
h3 {
	font-family: 'SCDream', system-ui, sans-serif;
}

&::-webkit-scrollbar {
	width: 8px;
}
&::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 10px;
	cursor: pointer;
}
&::-webkit-scrollbar-track {
	background-color: #eee;
	border-radius: 10px;
}
